<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PostgresDBServlet</servlet-name>
        <servlet-class>ServerPart.PostgresDBServlet</servlet-class>
        <init-param>
            <param-name>datasetFile</param-name>
            <param-value>WEB-INF/data/toponyms_Ingria.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>dataServlet</servlet-name>
        <servlet-class>ServerPart.DataServlet</servlet-class>
        <init-param>
            <param-name>datasetFile</param-name>
            <param-value>WEB-INF/data/toponyms_Ingria.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>dbServlet</servlet-name>
        <servlet-class>ServerPart.DBServlet</servlet-class>
        <init-param>
            <param-name>datasetFile</param-name>
            <param-value>../webapps/VisWebProject/WEB-INF/data/toponymsDatabase</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostgresDBServlet</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
