<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetToponymsNamesServlet</servlet-name>
        <servlet-class>ServerPart.GetToponymsNamesServlet</servlet-class>
        <!--        <init-param>
            <param-name>datasetFile</param-name>
            <param-value>WEB-INF/data/toponyms_Ingria.txt</param-value>
        </init-param>-->
    </servlet>
    <servlet>
        <servlet-name>GetGroupsNamesServlet</servlet-name>
        <servlet-class>ServerPart.GetGroupsNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetToponymsServlet</servlet-name>
        <servlet-class>ServerPart.GetToponymsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetToponymsCoordinatesServlet</servlet-name>
        <servlet-class>ServerPart.GetToponymsCoordinatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPolygonsServlet</servlet-name>
        <servlet-class>ServerPart.GetPolygonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetToponymsNamesServlet</servlet-name>
        <url-pattern>/get-toponyms-names</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroupsNamesServlet</servlet-name>
        <url-pattern>/get-groups-names</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetToponymsServlet</servlet-name>
        <url-pattern>/getToponyms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetToponymsCoordinatesServlet</servlet-name>
        <url-pattern>/getCoordinates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPolygonsServlet</servlet-name>
        <url-pattern>/getPolygons</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
