/* 
    Document   : viswebproject
    Created on : Mar 10, 2013, 11:25:17 AM
    Author     : Daniil Sorokin <daniil.sorokin@uni-tuebingen.de>
    Description:
*/

/* elements */
root { display: block;}
html,body{ margin:0; padding:0; height:100%; border:none}
table {margin: 0px; padding:0px;}
tr {margin: 0px; padding:0px;}
td {margin: 0px; /* padding:0px; */}

/* classes */
table.page-structure {
    width:100%; 
    height:100%;
    
    border: 0px;
    border-collapse:collapse;
    
    overflow: hidden;
    z-index: 3;
    position: absolute;
}

div.mousescroll {
    height: 100%; 

    position: relative;

    text-align: center;

    overflow-y: scroll;
    overflow:-moz-scrollbars-vertical; 
}

.disable-select {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none
}

.nano { height: 100%; width:100%; }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

.triggered {
    color: #1e8826;
}

.list { 
    list-style-type: none; 
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    position: absolute;
    text-align: left;
}

.list li { 
    height: 20pt; 
    
    margin: 3px;
    padding: 0.4em 10px 0.4em 0.4em;
    
    font-size: 10pt; 
}

.list .ui-selecting { border-color: #0066CC; }
.list .ui-selected { background: #0066CC; color: white; }

.list-container {
     height: 100%;
}

.list-control-panel {
    width: 100%;
    
    border-bottom: 1px solid #cecece;
    
    text-align:center;
    vertical-align:middle;
}

.control-panel-container {
}

.list-holder {
    height: 100%;
    width: auto;
}

.left-column {
    vertical-align: top;
    text-align:center;
    width: 250px;
}

.info-window-container {
    width: 20%; 
    height: 100%; 
    position: absolute; 
    
    margin: 0px 5px; 
    
    z-index: 2;
    pointer-events:none;
}

.group-badge {
    margin: 0px 10px;
}

.element-info-btn {
    margin: 1px;
}

.info-window-container .panel {
    position: absolute;
    min-width: 300px;
}

.info-list {
    font-size: 10pt;
    margin: 0px;
}

.info-list dt {
    width: 70px;
}

.info-list dd {
    margin-left: 80px;
}

.panel {
    pointer-events: auto;
}

.small-margins {
    margin: 2px;
}

.sliding-panel {
    height: 100%;

    position: absolute;
    z-index: 4;
    
    background-color: white;
    
    border: 1px solid #c8c8c8;
    box-shadow: 2px 0 2px -4px #aaaaaa;
    border-collapse: collapse;
}

.dataset-btn {
    width: 180px !important;
    height: 30px !important;
    
    margin-top: 5px;
    
    display: block;
}


.control-btn {
    margin: 3px;
    padding: 8px 8px;
}

.wrapper {
    height: 100%;
    
    margin: 0 auto 0;
    padding: 0 30px;
        
    text-align: center;
}

.footer {
    height: 75px;
    margin-top: -75px;
    
    padding: 5px;
    
/*    border-top: 1px solid #c8c8c8;
    box-shadow: 0 -2px -4px 0px #aaaaaa;
    border-collapse: collapse;*/
}

.control-on-right {
    float: right;
    margin: 7px 5px;
}

.control-on-left {
    float: left;
    margin: 7px 5px;
}

.full-alert {
    width: 400px !important;
    height: 250px !important;
    
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 5;
    
    margin: 0 auto;
    padding: 10px;
    
    text-align: center;
    
    border: 0px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 4px -2px #aaaaaa;
}

.small-button {
    min-width: 25px;
    height: 25px;
    
    text-align: center;
    font-size: 12pt;
    vertical-align: middle;
    display: table;
    
    border: 1px solid #aaaaaa;
    border-radius: 25px;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0px 1px 1px 0px #c8c8c8;
}


.simple-button {
    padding: 5px 7px;

    text-align: center;
    font-size: 11pt;
    
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    background-color: white;
    border-collapse: collapse;
    /*box-shadow: 0px 1px 2px 0px #c8c8c8;*/
    
    /*font-weight: bold;*/
}

.simple-button:active,
.small-button:active {
    background-color: #eeeeee;
}

.simple-button:disabled,
.small-button:disabled {
    color: #aaaaaa;
    background-color: #cecece;
}

.simple-button:focus,
.small-button:focus {
    outline: 0;
}

.small-button.selected {
    font-weight: bold;
    
    color: white;
    background-color: #00afff;
/*    box-shadow: inset 0px 1px 1px 0px #c8c8c8;*/
}

.simple-button.control-on-right{
    width: 130px !important;
    height: 30px !important;
}

.simple-button.selected {
    font-weight: bold;
    
    color: white;
    background: -webkit-linear-gradient(#00afff, #1d9efe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00afff, #1d9efe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00afff, #1d9efe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00afff, #1d9efe); /* Standard syntax */
}

.simple-block-justified {
    width:100%;
    
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

.simple-block > .simple-button {
    margin-right: 0 !important;
    margin-left: -1px;
    border-radius: 0px;
}

.simple-block-justified > .simple-block-justified {
    display: table-cell;
    border: 1px solid #aaaaaa;
}

.simple-block-justified > .simple-button {
    width: 100%;
    height: 28px;
    
    border: 0px;
    border-radius: 0px;
}

.select-area {
    width: 100%;
    height: 100px;
    
    margin: 10px 0px;
    padding: 5px;
    
    text-align: center;
    vertical-align: middle;
    display: table;
    
    border: 2px dashed #aaaaaa;
    border-radius: 3px;
    background-color: white;
    
    font-size: 16px;
    cursor: pointer;
}

.select-area > span {
    display: table-cell;
    vertical-align: middle;
}

.input-text {
    padding: 5px 5px;
    
    background-color: white;
}

.stl-progress-bar {
    padding: 0px;
    height: 24pt;
    
    overflow: hidden;
}

.stl-progress {
    height: 100%;
    width: 30px;
    
    padding: 4pt;
    font-size: 12pt;
        
    color: white;
    background: -webkit-linear-gradient(#00afff, #028ac8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00afff, #028ac8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00afff, #028ac8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00afff, #028ac8); /* Standard syntax */    
}

.alert-grad {
    color: white;
    background: -webkit-linear-gradient(#fe2a31, #cd0108); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fe2a31, #cd0108); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fe2a31, #cd0108); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fe2a31, #cd0108); /* Standard syntax */    
}

/* particular elements (based on id) */
#list-selector-container { 
    text-align: center;
    border-bottom: 1px solid rgb(178, 178, 178);
}

#list-selector{
    margin: 0px 0px; 
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
}