/* 
    Document   : viswebproject
    Created on : Mar 10, 2013, 11:25:17 AM
    Author     : Daniil Sorokin <daniil.sorokin@uni-tuebingen.de>
    Description:
*/

/* elements */
root { display: block;}
html,body{ margin:0; padding:0; height:100%; border:none}
table {margin: 0px; padding:0px;}
tr {margin: 0px; padding:0px;}
td {margin: 0px; padding:0px;}

/* classes */
table.page-structure {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: 0px;
    border-collapse:collapse;
    width:100%; 
    height:100%;
}

div.mousescroll {
    overflow-y: scroll;
    overflow:-moz-scrollbars-vertical; 
    height: 100%; 
    position: relative;
    text-align: center;
}

.list { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px;  
    width: 100%;
    position: absolute;
    text-align: left;
}
.list li { 
    margin: 3px; 
    padding: 0.4em; 
    font-size: 10pt; 
    height: 20pt; }
.list .ui-selecting { border-color: #0066CC; }
.list .ui-selected { background: #0066CC; color: white; }

.list-selector-button.ui-state-active {
    font-weight: bold;
    padding: 1px;
}

/* particular elements (based on id) */
#deselect-button {
    width: 97%;
    margin: 2px;
    padding: 1px;
}


td#list-selector-container { 
    height: 18px;
    border-bottom: 1px solid #c9c9fd;
    text-align: center;
}

div#list-selector{
    margin: 0px 0px; 
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
}



